<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}
            {% blocktrans %} T-Blog.{% endblocktrans %}
            {% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        {%  block extend_style %}{% endblock %}
    </head>
    <body>
        <div class="top">
            
            {% include "tools/navbar.html" %}
            {% block top %}{% endblock %}
            </div>
        <div class="main">
            {% block main %}
            <div class="left">

            {% block left %}{% endblock %}
            </div>
            <div class="right">
                {% include "tools/right.html" %}
            {% block right %}{% endblock %}
            </div>
            {% endblock %}
            </div>
        <div class="footer">
            {% trans "This is Footer" %}
            {% block extend_footer %}{% endblock %}
            </div>

        


    </body>
</html>
